#Navbar {
    border-radius: 30px;
    color:black;
    background-color: #D9EEE1;
  }
  
  #Navbar :hover {
    border-radius: 30px;
    color:white;
    background-color: #04AA6D !important;
  }

  #button :hover {
    border-radius: 30px;
    background-color: #e3e6e4 !important;
  }
  #Dropdown :hover {
    color:white;
    background-color: #04AA6D !important;
  }
  
  .arrow {
    cursor: pointer;
    display: none;
    height: 15px;
    width: 15px;
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display:inline-block;
  }
  .right {

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  